{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block head %}
{{ super() }}
<style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock head %}
{% block content %}


<h1>Freezing Cold</h1>
<em class="small">February 2019</em>
<br>
<br>
<br>
<br>

<p>
</p>
{% endblock content %}
