{% extends "base.html" %}
{% block title %}Amber - Blog.yPlume{% endblock title %}
{% block head %}
{{ super() }}
{% endblock head %}
{% block content %}
<h1>Amber</h1>
<p>
    Amber is an open-source entity-component engine written in Rust.
</p>
{% include "contents.html" %}
{% endblock content %}
