{% extends "base.html" %}
{% block title %}Say no to levitation{% endblock title %}
{% block head %}
{{ super() }}
<style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock head %}
{% block content %}


<h1>Say no to levitation</h1>
<em class="small">2019-11-24</em>
<br>
<br>
<br>
<br>

<p>
    Yo! Yesterday's update showed a levitating kitchen floor tile - this update throws that tile on the ground and STOMPS ON IT!!!
</p>

<p>
    Here's a tile that <i>doesn't actually touch the ground</i>:
</p>

<img src="../pictures/2019_11_24/levitate.png" style="align:middle" />
<br>
<br>

<p>
    <b>UNACCEPTABLE!</b>
</p>

<p>
    In the new update, not only does it <b>jump</b>:
</p>

<video width="640" height="480" controls>
    <source src="../videos/2019_11_24/2019_11_24.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<br>
<br>

<p>
    But the tile loves grass!
</p>

<img src="../pictures/2019_11_24/grass_love.png" style="align:middle" />
<br>
<br>

<p>
    Yay!
</p>
{% endblock content %}
