{% extends "base.html" %}
{% block title %}A wild post appeared!{% endblock title %}
{% block head %}
{{ super() }}
<style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock head %}
{% block content %}


<h1>A wild post appeared!</h1>
<em class="small">2019-11-23</em>
<br>
<br>
<br>
<br>

<p>
Hello!
</p>

<p>
Welcome to the first post ever about Pizzatopia! If you don't know what Pizzatopia is, then you can check out the 'About' page that doesn't exist yet!
</p>

<p>
The purpose of this blog is to post regular (*cough*) updates about what exactly is going on with this Pizzatopia game.
</p>

<p>
    The idea for this game was pitched like 2 months ago, and yet the first post is only here now. Why is that? Well, the past 2 months have been mostly me testing out technologies. I'm writing this game in a programming language called Rust, which is kind of new to me.
</p>
<p>
    At first I wanted to go all out and use no libraries (no pre-existing code), until I realized I kinda suck at coding in Rust. Writing everything from scratch to would probably take me over 2 years, and by then <a href="https://github.com/pikapak/cuddly-dollop/graphs/contributors"> the engine would probably still be trash</a>.
</p>

<p>
So I decided to go the opposite way and use as many libraries as I could! I tried a bunch of them, at the time certain that I would be using them throughout the whole development of the game - only to find out a week later that I had been struggling trying to jam a square into a circle peg hole.
</p>

<p>
That's when I would drop the library - and lose a week of progress. Hard stuff.
</p>

<p>
At this point though, things have stabilized. It turns out I now only use 1 library (sort of)!
</p>

<img src="../pictures/2019_11_23/cargo_toml_1_dependency.png" style="align:middle" />
<br>
<br>

<p>
At this point, I've experimented with it - I like it. It's amazing and I'm finally making progress!
</p>

<p>
Looking at the following video, there's a block that looks like a tile from my kitchen floor - that's the <b>player</b>. It can move up and down using the keyboard.
If it tries to go through the grass on the bottom, it stops! Wow! Physics!
</p>

<video width="640" height="480" controls>
    <source src="../videos/2019_11_23/2019_11_23.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<br>
<br>

<p>
Before I finish this post - I'd like to share something interesting. You know GIFs? The almost-a-video thingies all over the internet?
</p>

<p>
You're probably wondering - "My dude, why are you posting a video instead of a GIF in 2019? Are you high?"
</p>

<p>
To that I present 2 pictures - the first one is of a <b>4-second</b> GIF, the other of a 7 second video.
</p>

<p>
The GIF is about half the length, and if you look at the dimensions it's also TINY, only 480 x 270 px.
</p>

<img src="../pictures/2019_11_23/2019_11_23_GIPHY.png" style="align:middle" />
<br>
<br>

<p>
The video is twice as long as the GIF, it's 1280 x 720 px, so ~7 times better resolution.
</p>

<img src="../pictures/2019_11_23/2019_11_23_MP4.png" style="align:middle" />
<br>
<br>

<p>
And yet the GIF is still 3.3 times <i>larger</i> than the mp4 video.
</p>

<p>
Thus, the video instead of the GIF. For your (and my) bandwidth :)
</p>

<p>
That's going to mark the end of this post! I'd rather keep the posts <i>short</i> and release them <i>more frequently</i>.
</p>

<p>
Cy@!
</p>
{% endblock content %}
