{% extends "base.html" %}
{% block title %}Trap the cat vol. 2 - camera strikes back{% endblock title %}
{% block head %}
{{ super() }}
<style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock head %}
{% block content %}


<h1>Trap the cat vol. 2 - camera strikes back</h1>
<em class="small">2020-05-02</em>
<br>
<br>
<br>
<br>

<h2>
    HOW CAN I TRAP MY CAT IN A BOX - ATTEMPT #2
</h2>

<video controls>
    <source src="../videos/2020_05_02/moving_tiles.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<br>
<br>

<p>
    Moving tiles in the editor was a long-awaited feature by many, so you're welcome :)<br>
    Making levels bigger than just one screens worth sounded pretty cool too, so I threw that in!
</p>

<video controls>
    <source src="../videos/2020_05_02/camera.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<br>
<br>

<p>
    The amount of work involved in making all this work properly is pretty incredible.
    It's probably just the perfectionist in me, but I ended up spending around 3 hours just tweaking the camera to try to get a good pan.
    Naturally, the best pan ended up being 1 simple line of code: <br>
    <i>camera_speed = distance_to_target / 20</i><br>
    You can imagine that, at first, I was playing around with more than 5 variables and calculating vector magnitudes and such...<br>
    There's this saying in computer-science - <b>KISS</b> : <b>K</b>eep <b>I</b>t <b>S</b>imple <b>S</b>tupid. (Also there's a band named KISS :D)<br>
    Here's a preview of what I had for the camera at first:
</p>

<video controls>
    <source src="../videos/2020_05_02/camera_bad.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<br>
<br>

<p>
    It wasn't terrible, but there were always a few leaking holes I couldn't patch all at once (you can spot these in the video if you look carefully):
    <ul>
        <li>The camera follows too fast when you move slowly</li>
        <li>The camera is too slow when you move too fast</li>
        <li>The camera movement is distracting in how it travels too fast by the time it reaches its target</li>
    </ul>

</p>

<p>
    All in all though, still a good hustle! More to come soon!<br>
    Peace!
</p>

{% endblock content %}
