{% extends "base.html" %}
{% block title %}Cats are ninjas{% endblock title %}
{% block head %}
{{ super() }}
<style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock head %}
{% block content %}


<h1>Cats are ninjas</h1>
<em class="small">2020-01-26</em>
<br>
<br>
<br>
<br>

<p>
    I wasn't sure at first how hard it would be to make a cat walk on walls like a ninja.
</p>

<p>
    I already had the cat walking on the ground, I had gravity pull him down - but how do you make the cat STICK to walls and be able to walk all around them?
</p>

<p>
    My first thought was to use the information I had about collisions - I knew when the cat bumped into walls since the walls blocked it.
    So if the cat walks around and bumps into a wall - all I have to do is note down which side the cat bumped into and change gravity so the cat stays on that wall.<br>
    The cat can walk on walls by modifying his personal gravity!
</p>

<video width="640" height="480" controls>
    <source src="../videos/2020_01_26/2020_01_26_1.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<br>
<br>


<p>
    There was another important step in all this though - one that isn't very obvious since it's already solved in this video.<br>
    How do I make sure the cat can keep running instead of smashing his face into the wall and slowing down every time he switches gravity?<br>
    I have to remember how fast the cat was going and keep him running just as fast in the new direction!<br>
    Here's a quick chart I used to try to figure out how to modify the cat's speeds depending on what his gravity is and what he's bumping into:
</p>

<img src="../pictures/2020_01_26/gravity_chart.png" style="align:middle" />
<br>
<br>

<p>
    So now the cat knows what to do when he hits a wall, but what about when he tries to walk all around a block?<br>
    I can't use collision to know if he's walking around, since he's literally bumping into nothing.<br>
    I can't use just his speed + the fact that he's bumping into nothing now - these conditions are too easily met when just jumping.<br>
    I couldn't figure out how to do this until I went for a short walk to buy milk for my mac n' cheese.
</p>

<p>
    Collision is calculated used the 4 corners of the cat *cough* (I mean his paws) *cough*.
    So I can know if the cat is walking to the edge of the block because only 1 corner of the cat would be touching a block.<br><br>
    Step 1: Make sure that the game remembers how many corners were touching a block last frame.<br>
    Step 2: Check how many corners are touching a block this frame.<br>
    (If 1 corner is touching last frame, and 0 are touching this frame, we know he either jumped OR walked off a ledge)<br>
    Step 3: Check to see if the cat is jumping or not by checking his direction. If he's not jumping, he's walking off the ledge.<br><br>
    Okay, so now we know if the cat was on a ledge, and we can know with confidence whether he walked off the ledge or jumped.<br>
    If he walked off the ledge, we can modify his direction to <em>seamlessly</em> have him keep walking around the block!<br>
    If he jumps off, his gravity doesn't change and everything keeps going normally!<br>
    Here the cat is doing off-screen miracles:
</p>

<video width="640" height="480" controls>
    <source src="../videos/2020_01_26/2020_01_26_2.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<br>
<br>

<p>
    This opens up some interesting avenues for enemies / gameplay mechanics!
</p>
{% endblock content %}
