{% extends "base.html" %}
{% block title %}Time to trap the cat(s){% endblock title %}
{% block head %}
{{ super() }}
<style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock head %}
{% block content %}


<h1>Time to trap the cat(s)</h1>
<em class="small">2020-04-29</em>
<br>
<br>
<br>
<br>

<p>
    After playing around a little with the game, I realized there were some important features missing.
</p>

<h2>
    HOW CAN I TRAP MY CAT IN A BOX?
</h2>

<video controls>
    <source src="../videos/2020_04_29/trap_the_cat.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<br>
<br>

<h2>
    WHY DOESN'T MY CAT HAVE MORE FRIENDS?
</h2>

<video controls>
    <source src="../videos/2020_04_29/friends.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<br>
<br>

<p>
    <i>They grow up so fast :')</i><br>
    (You can ignore the cats stuck in the wall)
</p>

<p>
    With the addition of Editor Mode, it's now possible to create some cool levels! And save them too!<br>
    The best part about this kind of editor is the ability to test while building the level.
    Maybe the enemy is a little bit too close to the wall?
    No need to restart the level or reboot the game to fix it!
</p>

<p>
    ...or at least, that's the goal. In these early stages, you can't move or change existing objects.
    In fact, you can't even change the grass to it's differently-coloured self! Or make the grass fat like that stretched-out
    monstrosity to the left!
</p>

<img src="../pictures/2020_04_29/monstrosity.png" />
<br>
<br>

<p>
    The good news is though - that most of the groundwork is done! Adding new features to the editor is pretty quick now, and when new enemies
    or platforms or objects are created, it should be really easy to implement them into the editor as well!
</p>

<p>
    Also the cat may have... died... while recording the friends part. I promise though, they really are friends!
</p>

<video controls>
    <source src="../videos/2020_04_29/death.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<br>
<br>

<p>
    <i>< insert cat out of the bag(box?) pun here ></i><br>
</p>
{% endblock content %}
