{% extends "base.html" %}
{% block title %}Kitty goes meow{% endblock title %}
{% block head %}
{{ super() }}
<style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock head %}
{% block content %}


<h1>Kitty goes meow</h1>
<em class="small">2020-01-13</em>
<br>
<br>
<br>
<br>

<p>
    Greetings fellow humans!
</p>

<p>
    Tired of kitchen floor tiles looking really lame? Here's a cat instead!
    It even moves!
</p>

<video width="640" height="480" controls>
    <source src="../videos/2020_01_13/2020_01_13.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<br>
<br>

<p>
    My first cat video <3
</p>
{% endblock content %}
