{% extends "base.html" %}
{% block title %}Pizzatopia - Blog.yPlume{% endblock title %}
{% block head %}
{{ super() }}
{% endblock head %}
{% block content %}
<h1>Pizzatopia</h1>
<p>
    Pizzatopia - 2D platformer
</p>
{% include "contents.html" %}
{% endblock content %}
