{% extends "base.html" %}
{% block title %}Personal Manifesto{% endblock title %}
{% block head %}
{{ super() }}
<style type="text/css">
        .important { color: #336699; }
</style>
{% endblock head %}
{% block content %}


<h1>Personal Manifesto</h1>
<em class="small">2020-05-02</em>
<br>
<br>
<br>
<br>

<p>
    Quel est le but d'un manifeste personnel?
    <ul>
        <li>Mettre mes buts à l'écrit (rien n'est réel s'il n'est pas construit par des mots)</li>
        <li>Établir des règles, avoir un guide à suivre (celui qui n'a pas sa propre philosophie se trouve à suivre celui des autres)</li>
    </ul>
</p>

<p>
    <ul>
    <li>You make up your own mind on things.</li>
    <li>You keep your friends up to date.</li>
    <li>You are indifferent about how good what you do is.</li>
    </ul>
</p>

{% endblock content %}
