<!-- Footer -->
<footer class="page-footer font-small">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-2">&copy Blog.yPlume 2019
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
