<nav class="navbar navbar-expand-md navbar-dark site-header">
    <div class="container">
        <a href="/" class="navbar-brand" id="brand-link">Blog.yPlume</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar6">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse justify-content-stretch" id="navbar6">
            <!--Left aligned links-->
            <!-- Currently none
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            -->
            <!--Right aligned links-->
            <ul class="navbar-nav ml-auto">
                <!--
                <li class="nav-item">
                    <a class="nav-link" href="/amber/">Amber</a>
                </li>
                -->
                <li class="nav-item">
                    <a class="nav-link" href="/pizzatopia/">Pizzatopia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/introspection/">Introspection</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
