{% extends "base.html" %}
{% block title %}Blog - yPlume{% endblock title %}
{% block head %}
{{ super() }}
{% endblock head %}
{% block content %}
<h1>Project Blogs</h1>
<p>
    Find here the newest updates on my ongoing projects.
</p>
{% include "contents.html" %}
{% endblock content %}
