body{font-family:"DejaVu Serif","Lucida Sans Typewriter","Lucida Console",monaco,"Bitstream Vera Sans Mono",monospace;}

.mono {
    font-family:monospace;
}

.site-header {
    background-color: #120f1c;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: #75ACAC;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

body {
    background-color: #464072;
}

.page-footer {
    color: #dbdbdb;
}

.navbar-static-top {
  margin-bottom: 19px;
}

video {
    width: 100%;
    height: auto;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}